*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}
.col3Side{
    color: white;
    padding: 0;
    border-right: 1px solid black;
    background: #4d4d4d;
}
.col9Main{
    padding: 0;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: inline-flex;
}
footer ul li{
    margin: auto 20px;
}
.fixedDiv{
    position: fixed;
    width: 17%;
}
.mainDiv{
    padding-right: 8px;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    
}
.selfName{
    margin-top: 20px;
}
.selfi{
    border: 1px solid black;
    padding: 70px;
    border-radius: 50%;
    border-color: white;
}
.subDiv1{
    padding: 20px auto 10px auto;
}

ul{
    padding: 0;
    list-style-type: none;
}
.subDiv2 ul{
    margin-top: 20px;
}
.subDiv2 li{
    margin: 35px 0px
}
.editRow{
    --bs-gutter-x: 0rem !important;
}
.topDiv img{
    width: 100%;
    height:640px;
}
.topDiv{
    position: relative;
}
.topDiv::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #ffcc00;
    width: 100%;
}
.topDiv::after{
    content: "";
    position: absolute;
    padding: 5px;
    background: #ffcc00;
    bottom: 0;
    left: 0;
    width: 100%;
}
.menuList{
    width: 100%;
}
.menuList ul{
    margin: 30px auto;
    display: inline-flex;
    justify-content: center;
    padding: 0;
}
.menuList li{
    margin: auto 15px;
    padding-bottom: 5px;
}
.menuList li:hover{
    border-bottom: 1px solid red;
}
.imgGrid .row{
    justify-content: center !important;
    --bs-gutter-x: 0rem !important;
}


.expHeading{
    padding: 30px;
}
.expHeading h1{
    font-weight: 700 !important;
}
.experiance{
    background: #4d4d4d;
    color: white;
}
.Tools{
    color: #ffcc00;
}
.expDetail{
    align-items: center;
    justify-content: center;
}
.expDetail h4{
    font-weight: 400;
}
.expDetail h3{
    font-weight: 700 !important;
}
.expDetail li{
    margin: 30px auto;
}


/* contact */
.contact{
    margin: 100px 20px 50px;
}
.contact input, textarea{
    width: 100%;
    padding: 10px 10px;
    background-color: whitesmoke;
    border: 1px solid rgb(190, 189, 189);
    border-radius: 5px;
    font-family: 'lato' ,sans-serif;
    color: #151515;
}
label{
    font-family: 'lato' ,sans-serif;
    color: #151515;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-style:inherit;
    margin: 10px 5px;
}
.contact h1{
    text-align: center;
    text-transform: lowercase;
    font-weight: 700;
    color: tomato;
    font-weight: 400;
    margin: 0px auto 30px;
}
.button button{
    font-family: 'lato' ,sans-serif;
    padding: 8px 50px;
    background-color: tomato;
    color: white;
    border: 1px solid lightcoral;
    border-radius: 5px;
    margin-left: 20px;
}
.inEmail, .inName, .inMessage{
    padding: 20px;
    margin: 20px auto;
}
textarea{
    padding: 3rem;
}
.review{
    display: inline-flex;
    
}
.review img{
    border-radius: 50%;
    align-items: center;
}

.gridNew{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}



.footer{
    width: 100%;
    padding: 50px;
    height: 50px !important;
    background-color: #4d4d4d;
}